

/*this is a comment in CSS*/

body {
  font-family: Arial;
  font-size: 16px;
  border-bottom: 5px solid #000;
  border-top: 5px solid #000;
  padding: 45px;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

  h1 {
  
  text-align: center;
  
}

	footer {
  font-weight: bold;
  text-align: center;
}

  nav {
    text-align: center;
    font-size: 16px;
    color: #000;
  }


	ul {
  padding: 10px;
  

  
}

 img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  border:1px solid #021a40;
}

	img[alt] {
  width: 250px;
  height: 250px;
  float: right;
}


  strong {
  color: #030609;
  font-style: italic;
}

	li {
 
  padding: 0px 10px 0px 10px;
}

	p {
		font-size: 22px;
	}

	

